*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c3e50;
    font-family: "Roboto", sans-serif;
}
.container{
    background-color: #25262c;
    width: 52%;
    height: 520px;
    margin: 45px auto;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}
.up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
}
.title h1{
    font-size: 25px;
    color: white;
    margin-right: 2%;
}
.reald3d{
    background-color: #515155;
    width: 10%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    border-radius: 2px;
}
.reald3d span{
    color: #c8c8ca;
    font-size: 10px;
    font-weight: 700;
}
.twelve{
    background-color: #515155;
    width: 5%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.twelve span{
    color: #c8c8ca;
    font-size: 10px;
    font-weight: 700;
}
.close{
    width: 6%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid #76777a;
    color: #76777a;
}
.close:hover{
    cursor: pointer;
}
.name{
    width: 100%;
    height: 20px;
}
.name span{
    color: #928c86;
    font-size: 15px;
    font-weight: 500;
}
.time{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-bottom: 1px solid #46464a;
}
.time span{
    color: white;
}
.room{
    width: 100%;
    height: 320px;
}
.screen{
    margin: 0 auto;
    width: 90%;
    height: 90px;
    perspective: 600px;
    margin-top: 15px;
}
.screen img{
    width: 100%;
    height: 100%;
    object-position: center;
    transform: rotateX(-25deg);
}
.cinemaseats{
    perspective: 700px;
    width: 90%;
    margin: 0 auto 60px;
}
.seats{
    transform: rotateX(35deg);
}
.seatsrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.seatsnum{
    border-radius: 50%;
    background: #4EAAFF;
    color: #4EAAFF;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 500;
    transition: color .3s ease;
    cursor: pointer;
    position: relative;
}
.seatsnum::before{
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: -5px;
    border: 1px solid #4EAAFF;
    transform: scale(0);
    transition: transform .3s ease;
}
.seatsrownum{
    padding-top: 10px;
    color: #ABA799;
    font-size: 12px;
    font-weight: 500;
}
.seatsnumgreen{
    background: #66D258;
    color: #66D258;
}
.seatsnumgreen::before{
    border-color: #66D258;
}
.seatsnum:hover{
    color: #fff;
}
.seatsnum:hover::before{
    transform: scale(1);
}
.info{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.info button{
    background-color: #3398dc;
    width: 20%;
    height: 40px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 29%;
    transition: 500ms;
}
.info button:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.standar{
    width: 25%;
    display: flex;
    align-items: center;
}
.standar span{
    font-size: 13px;
    font-weight: 500;
    color: #928c86;
}
.colorstandar{
    background-color: #4eaaff;
    margin-right: 5%;
    width: 7%;
    height: 12px;
    border-radius: 50px;
}
.vip{
    width: 25%;
    display: flex;
    align-items: center;
}
.vip span{
    font-size: 13px;
    font-weight: 500;
    color: #928c86;
}
.colorvip{
    background-color: #66d258;
    margin-right: 5%;
    width: 7%;
    height: 12px;
    border-radius: 50px;
}
@media (max-width: 1024px){
    .reald3d{
        display: none;
    }
    .twelve{
        display: none;
    }
}
@media (max-width: 673px){
    .container{
        width: 80%;
    }
    .standar{
        display: none;
    }
    .vip{
        display: none;
    }
    .info{
        justify-content: center;
    }
}
@media (max-width: 425px){
    .container{
        width: 90%;
    }
}